body {
  background-color: green;
  background-image: url('../img/table.jpg');
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3em;
}

/*.container {
  background: #FFEACC;
  box-shadow: 0 2px 2px #4A2D74;
  color: #111;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  position: relative;
  border-radius: 15px;
}*/

h1 {
  text-align: center;
  font-size: 48px;
}

#dealer figure, #player figure {
  display: inline-block;
  margin: 10px;
}

hr {
  visibility: hidden;
}

h4 {
  color: white;
}

#end-game {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  display: none;
  background-image: none;
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  border: solid 3px white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#hit, #stand {
  display: none;
}

.btn {
  margin-right: 10px;
}
